<div id="home-container">
  <div id="name-block">
    <div id="name">Cat McLoughlin</div>
    <div id="title">software developer</div>
  </div>
  <hr></hr>

  <nav><%= mail_to "catmclough@gmail.com", "email me", subject: "Hi Cat!" %></nav>
  <nav> | </nav>
  <nav><%= link_to "my projects", projects_path %></nav>
  <br>
  <a id="contact-link" href="https://linkedin.com/in/catmcloughlin"><%= image_tag "linkedin-logo.png" %></a>
  <a id="contact-link" href="https://github.com/catmclough"><%= image_tag "github-logo.jpg" %></a>
  <a id="contact-link" href="https://twitter.com/smitty_smat"><%= image_tag "twitter-logo.png" %></a>
</div>