<div id="projects-show-container">
  <div id="project-title"><%= this_project.title %></div>
  <div id="project-date">Created on <%= this_project.date_of_creation.to_formatted_s(:long_ordinal) %></div>
  <div id="project-description"><%= this_project.description %></div>


  <div id="project-link">
    <% if this_project.url %>
      <%= link_to "#{this_project.url}", this_project.url %>
    <% end %>
  </div>

  <div id="github-link">
    <% if this_project.github_url %>
      <%= link_to "#{this_project.title} on GitHub", this_project.github_url %>
    <% end %>
  </div>

  <div id="screenshots">
    <%= image_tag "#{this_project.title.downcase.delete(' ')}.jpg" %>
    <%= image_tag "#{this_project.title.downcase.delete(' ')}2.jpg" %>
  </div>

  <% if this_project.language == "Processing" %>
      <%= javascript_include_tag "#{this_project.title.downcase.delete(' ')}" %>
  <% end %>
</div>